<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:tx="http://www.springframework.org/schema/tx" 
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd
 http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.amg.exchange,com.amg.exchange.mail" />
	  <context:property-placeholder
		location="classpath:com/amg/exchange/messages/email.properties" />
	<context:property-placeholder
		location="classpath:com/amg/exchange/messages/email1.properties" />

	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@10.200.4.20:1522:tchdevdb" /> 
		<property name="username" value="emosprod"/> 
		<property name="password" value="emosprod"/> 
	</bean> -->
	
	<!-- new QEMOS DataBase TESTING For 190 Server -->
	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@192.170.161.98:1521:qemos" /> 
		<property name="username" value="QEMOS"/> 
		<property name="password" value="QEMOS"/> 
	  </bean> 	
	
	<!-- Use this to connect directly to the database -->
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="location"> <value>database.properties</value> </property> 
		</bean> -->
	
	<!-- old QEMOS DataBase TESTING-->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@172.17.1.98:1521:QEMOS" /> 
		<property name="username" value="QEMOS"/> 
		<property name="password" value="QEMOS"/> 
	</bean> -->
	
	<!-- new TEMOS DataBase TESTING -->
    <!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@172.17.1.99:1522:temos" /> 
		<property name="username" value="TEMOS"/> 
		<property name="password" value="TEMOS"/> 
		<property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="1800000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
	</bean> -->    
	
	<!-- New LIVE DB -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@//172.17.1.50:1550/emos" />
        <property name="username" value="JOAMX_USER"/>
        <property name="password" value="jomax250bbf"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="1800000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
    </bean> -->  
	 
	
	<!-- new TEMOS DataBase TESTING For 190 Server -->
	 <!--  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
		<property name="url" value="jdbc:oracle:thin:@192.168.100.253:1522:TEMOS" /> 
		<property name="username" value="TEMOS"/> 
		<property name="password" value="TEMOS"/> 
	</bean> -->
    
    <!-- OLD JOAMX DataBase -->
  <!--  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
        <property name="url" value="jdbc:oracle:thin:@//172.17.1.50:1550/emos" /> 
        <property name="username" value="jomax"/> 
        <property name="password" value="jomax"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="1800000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
    </bean> -->
    
    
      <!-- new IBM DataBase Production OMAN-->
    <!--  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
        <property name="driverClassName" value="oracle.jdbc.OracleDriver" /> 
        <property name="url" value="jdbc:oracle:thin:@//10.1.20.17:1522/mex" /> 
        <property name="username" value="JOAMX_USER"/> 
        <property name="password" value="jomax180bbf"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="1800000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="validationQuery" value="SELECT 1 FROM DUAL"/>
    </bean> --> 

		
    <!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
              <property name="jndiName" value="jdbc/Prod-EMOS-DS"/>
    </bean> -->       

	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

		<property name="dataSource">
		<ref bean="dataSource" />
		</property>

		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.default_schema">tchexchdba</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="connection.pool_size">100</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hbm2ddl.auto">create</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
				</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
		<!-- <property name="hibernate.default_schema" value="chexchdba"/> -->

		<property name="annotatedClasses">
			<list>
				<!-- common -->
		 
		 		<!-- <value>com.amg.exchange.common.model.HighValueAMLAuthView</value> -->
				<value>com.amg.exchange.common.model.FimsCurmas</value>
				<value>com.amg.exchange.common.model.IkonRateView</value>
				<value>com.amg.exchange.common.model.CutomerDetailsView</value>
				<value>com.amg.exchange.common.model.Amlstatus</value>
				<value>com.amg.exchange.common.model.CityMaster</value>
				<value>com.amg.exchange.common.model.CityMasterDesc</value>
				<value>com.amg.exchange.common.model.CompanyMaster</value>
				<value>com.amg.exchange.common.model.CompanyMasterDesc</value>
				<value>com.amg.exchange.common.model.CountryMaster</value>
				<value>com.amg.exchange.common.model.DistrictMaster</value>
				<value>com.amg.exchange.common.model.DistrictMasterDesc</value>
				<value>com.amg.exchange.common.model.LanguageType</value>
				<value>com.amg.exchange.common.model.RuleApplicationDesc</value>
				<value>com.amg.exchange.common.model.RuleApplicationMaster</value>
				<value>com.amg.exchange.common.model.RulePageMaster</value>
				<value>com.amg.exchange.common.model.StateMaster</value>
				<value>com.amg.exchange.common.model.StateMasterDesc</value>
				<value>com.amg.exchange.common.model.BusinessComponentConf</value>
				<value>com.amg.exchange.common.model.BusinessComponent</value>
				<value>com.amg.exchange.common.model.BizComponentConfDetail</value>
				<value>com.amg.exchange.common.model.BizComponentDataRef</value>
				<value>com.amg.exchange.common.model.BizComponentData</value>
				<value>com.amg.exchange.common.model.BizComponentDataDesc</value>
				<value>com.amg.exchange.common.model.ComponentType</value>
				<value>com.amg.exchange.common.model.ComponentTypeDetail</value>
				<value>com.amg.exchange.common.model.CountryMasterDesc</value>
				<!-- <value>com.amg.exchange.common.model.BankLength</value> -->
				<value>com.amg.exchange.common.model.BankAccountType</value>
				<value>com.amg.exchange.common.model.BankAccountTypeDesc</value>
				<value>com.amg.exchange.common.model.MarketingData</value>
				<value>com.amg.exchange.common.model.RoleWiseCurrencyLimit</value>
				<value>com.amg.exchange.common.model.BankBannedWordsMaintenance</value>
				
				<!-- Registration -->
				<value>com.amg.exchange.registration.model.ContactDetail</value>
				<value>com.amg.exchange.registration.model.Customer</value>
				<value>com.amg.exchange.registration.model.CustomerEmploymentInfo</value>
				<value>com.amg.exchange.registration.model.SuccessMessage</value>
				<value>com.amg.exchange.registration.model.CustomerIdProof</value>
				<value>com.amg.exchange.registration.model.CustomerLogin</value>
				<value>com.amg.exchange.registration.model.Employee</value>
				<value>com.amg.exchange.registration.model.CountryBranch</value>
				<value>com.amg.exchange.registration.model.CustCorporateAddlDetail</value>
				<value>com.amg.exchange.registration.model.DocumentImg</value>
				<value>com.amg.exchange.registration.model.RoleMaster</value>
				<value>com.amg.exchange.registration.model.IncomeRangeMaster</value>
				<value>com.amg.exchange.registration.model.PartnerAuthorized</value>
				<value>com.amg.exchange.registration.model.GoogleMapAddress</value>
				<value>com.amg.exchange.registration.model.SmartCardInfo</value>
				  <value>com.amg.exchange.registration.model.IdentityTypeMaster</value>
				   <value>com.amg.exchange.registration.model.DmsMas</value>
				   
				   
				  <value>com.amg.exchange.registration.model.CorporateCustomerInfoView</value>  
				<value>com.amg.exchange.registration.model.CorpatePartnerInfoView</value>
				<value>com.amg.exchange.registration.model.CustomerInfoView</value>
				<value>com.amg.exchange.registration.model.CustomerContactDetailView</value>
				<value>com.amg.exchange.registration.model.CustomerEmployeeInfoView</value>
				<value>com.amg.exchange.registration.model.CustomerIdproofView</value>
				<value>com.amg.exchange.registration.model.CustomerChangeLog</value>
				
				<value>com.amg.exchange.registration.model.CustomerSponsor</value>
				<value>com.amg.exchange.registration.model.ViewCustomerNameCheck</value>
					<!--  Rabil for Active Customer Check-->
					<value>com.amg.exchange.registration.model.ViewActiveCustomerCheck</value>
				<!--  Rabil for Active Customer Check-->
				
				<value>com.amg.exchange.registration.model.ArcmateScanMaster</value>
				<value>com.amg.exchange.registration.model.ScanIdTypeMaster</value>
				<value>com.amg.exchange.registration.model.CustomerImageVerification</value>
				
				<value>com.amg.exchange.registration.model.ViewMgrt</value>
				<value>com.amg.exchange.registration.model.ViewArea</value> 
				<value>com.amg.exchange.registration.model.ViewUserType</value> 
				
				
				 
				 <value>com.amg.exchange.registration.model.DMSApplMap</value>
                <value>com.amg.exchange.registration.model.DmsDocBlobUpload</value>
				<value>com.amg.exchange.registration.model.DmsDocumentBlobTemparory</value>
				
		 
				<!-- Treasury -->
				<value>com.amg.exchange.treasury.model.FundConsolidatedView</value>
				<value>com.amg.exchange.treasury.model.AccountBalance</value>
				<value>com.amg.exchange.treasury.model.ArticleDetails</value>
				<value>com.amg.exchange.treasury.model.ArticleDetailsDesc</value>
				<value>com.amg.exchange.treasury.model.ArticleMaster</value>
				<value>com.amg.exchange.treasury.model.ArticleMasterDesc</value>
				<value>com.amg.exchange.treasury.model.BankAccount</value>
				<value>com.amg.exchange.treasury.model.BankAccountDetails</value>
				<value>com.amg.exchange.treasury.model.BankAccountLength</value>
				<value>com.amg.exchange.treasury.model.BankApplicability</value>
				<value>com.amg.exchange.treasury.model.BankBranch</value>
				<value>com.amg.exchange.treasury.model.BankContactDetails</value>
				<value>com.amg.exchange.treasury.model.BankDdPrintLoc</value>
				<value>com.amg.exchange.treasury.model.BankMaster</value>
				<value>com.amg.exchange.treasury.model.CurrencyMaster</value>
				<value>com.amg.exchange.treasury.model.DailyAccountBalance</value>
				<value>com.amg.exchange.treasury.model.Deal</value>
				<value>com.amg.exchange.treasury.model.DealConclusionType</value>
				<value>com.amg.exchange.treasury.model.DealConclusionTypeDetail</value>
				<value>com.amg.exchange.treasury.model.DealPurchase</value>
				<value>com.amg.exchange.treasury.model.DealSales</value>
				<value>com.amg.exchange.treasury.model.DealSupplier</value>
				<value>com.amg.exchange.treasury.model.FundProjection</value>
				<value>com.amg.exchange.treasury.model.Message</value>
				<value>com.amg.exchange.treasury.model.MonthAccountBalance</value>
				<value>com.amg.exchange.treasury.model.Nominee</value>
				<value>com.amg.exchange.treasury.model.OutrightSwapMaster</value>
				<value>com.amg.exchange.treasury.model.SpecialDeal</value>
				<value>com.amg.exchange.treasury.model.SpecialDealUtiliesed</value>
				<value>com.amg.exchange.treasury.model.SupplierDetails</value>
				<value>com.amg.exchange.treasury.model.SupplierInstructionDetail</value>
				<value>com.amg.exchange.treasury.model.SupplierInstructionMaster</value>
				<value>com.amg.exchange.treasury.model.SupplierMaster</value>
				<value>com.amg.exchange.treasury.model.Zone</value>
				<value>com.amg.exchange.treasury.model.ZoneMasterDesc</value>
				<value>com.amg.exchange.treasury.model.AgentMaster</value>
				<value>com.amg.exchange.treasury.model.FundEstimation</value>
				<value>com.amg.exchange.treasury.model.FundEstimationDetails</value>
				<value>com.amg.exchange.treasury.model.FundEstimationDays</value>
				<value>com.amg.exchange.treasury.model.DailyBalance</value>
				<value>com.amg.exchange.treasury.model.CustomerSpecialDealRequest</value>
				<value>com.amg.exchange.treasury.model.BankIndicator</value>
				<value>com.amg.exchange.treasury.model.BankIndicatorDescription</value>
				<value>com.amg.exchange.treasury.model.StandardInstruction</value>
				<value>com.amg.exchange.treasury.model.StandardInstructionDetails</value>
				<value>com.amg.exchange.treasury.model.Document</value>
				<value>com.amg.exchange.treasury.model.BankPrefix</value>
				
				<value>com.amg.exchange.treasury.viewModel.SpecialCustomerValueDatedView</value>
				
				<value>com.amg.exchange.treasury.model.TreasuryDealHeader</value>
				<value>com.amg.exchange.treasury.model.TreasuryDealDetail</value>
				<value>com.amg.exchange.treasury.model.TreasuryStandardInstruction</value>
				<value>com.amg.exchange.treasury.deal.supplier.model.TreasuryCustomerSupplier</value>
				<value>com.amg.exchange.treasury.deal.supplier.model.DayBookHeader</value>
				<value>com.amg.exchange.treasury.deal.supplier.model.ApplicationSetup</value>
				<value>com.amg.exchange.treasury.deal.supplier.model.DayBookDetails</value>
				<value>com.amg.exchange.treasury.model.Data</value>
				<value>com.amg.exchange.treasury.model.RemittanceModeDescription</value>
				<!-- <value>com.amg.exchange.treasury.model.ServiceIndicator</value> -->
				<value>com.amg.exchange.treasury.model.ServiceMaster</value>
				<value>com.amg.exchange.treasury.model.ServiceMasterDesc</value>
				<value>com.amg.exchange.treasury.model.ExchangeRate</value>
				<value>com.amg.exchange.treasury.model.ExchangeRateApproval</value>
				<value>com.amg.exchange.treasury.model.PipsMaster</value>
				<value>com.amg.exchange.treasury.model.RemittanceModeMaster</value>
				<value>com.amg.exchange.treasury.model.DeliveryMode</value>
				<value>com.amg.exchange.treasury.model.DeliveryModeDesc</value>
				<value>com.amg.exchange.treasury.model.ViewCorrespondingBankCountry</value>
				
				<!-- Added   for Fund Estimation CR - Point 9 Begin -->				
				<value>com.amg.exchange.treasury.viewModel.TotalUsdRequirementView</value>
				<value>com.amg.exchange.treasury.viewModel.TreasuryFundestimationViewSummary</value>
				<value>com.amg.exchange.treasury.viewModel.ViewBankCountry</value>
				<!-- Added   for Fund Estimation CR - Point 9 End -->
				
				<!--  Added by Rabil start -->
				<value>com.amg.exchange.treasury.viewModel.TreasuryBankCountryView</value>
				<value>com.amg.exchange.treasury.viewModel.ViewAccountBalance</value>
				<value>com.amg.exchange.treasury.viewModel.TreasuryCurrencyView</value>
				<value>com.amg.exchange.treasury.viewModel.TreasuryFundestimationView</value>
				<value>com.amg.exchange.treasury.viewModel.TreasuryEstimationDaysView</value>
				<value>com.amg.exchange.treasury.viewModel.TreasuryFundestimationAlertView</value>
				<value>com.amg.exchange.treasury.viewModel.TreasuryFundEstimationDealAlertView</value>
				<value>com.amg.exchange.treasury.model.FundEstimationAlert</value>
				<!--  Added by Rabil end -->
				<!-- Added for Fx Deal - RoutingSetupMaster Table Begin -->
				<value>com.amg.exchange.treasury.model.RoutingSetupMaster</value>
				<value>com.amg.exchange.treasury.model.BeneCountryService</value>
				<!--Add for Service Group Master Setup  -->
				<value>com.amg.exchange.treasury.model.ServiceGroupMaster</value>
				<value>com.amg.exchange.treasury.model.ServiceGroupMasterDesc</value>
				<value>com.amg.exchange.treasury.viewModel.DealTrackerTicketView</value>
				<value>com.amg.exchange.treasury.viewModel.GLTransactionView</value>
				<value>com.amg.exchange.treasury.model.ViewTreasuryDeal</value>
				<value>com.amg.exchange.treasury.viewModel.DealTrackerTicketView</value>
				<value>com.amg.exchange.treasury.viewModel.DealTrackerTicketView</value>
				<value>com.amg.exchange.common.model.InsuranceMaster</value>
				<value>com.amg.exchange.common.model.InsuranceMasterDescription</value>
				<value>com.amg.exchange.treasury.model.CurrencyOtherInformation</value>
				<value>com.amg.exchange.treasury.model.TreasuryTransfer</value>
				<value>com.amg.exchange.treasury.viewModel.CurrencyGLLevelView</value>
				<value>com.amg.exchange.treasury.viewModel.CurrencyCountryLevelView</value>
				
				<!-- Foeign Currency -->
				<value>com.amg.exchange.foreigncurrency.model.CollectDetail</value>
				<value>com.amg.exchange.foreigncurrency.model.Collect</value>
				<value>com.amg.exchange.foreigncurrency.model.CurrencyWiseDenomination</value>
				<value>com.amg.exchange.foreigncurrency.model.ForeignCurrencyAdjust</value>
				<value>com.amg.exchange.foreigncurrency.model.PurposeOfTransaction</value>
				<!-- <value>com.amg.exchange.foreigncurrency.model.PurposeOfTransactionDesc</value> -->
				<value>com.amg.exchange.foreigncurrency.model.ReceiptPayment</value>
				<value>com.amg.exchange.foreigncurrency.model.SourceOfIncome</value>
				<value>com.amg.exchange.foreigncurrency.model.SourceOfIncomeDescription</value>   
				<value>com.amg.exchange.foreigncurrency.model.Stock</value>
				<value>com.amg.exchange.foreigncurrency.model.UserFinancialYear</value>
				<value>com.amg.exchange.foreigncurrency.model.ForeignCurrencyAdjustApp</value>
				<value>com.amg.exchange.foreigncurrency.model.ReceiptPaymentApp</value>
				<!-- Rolewise Currency by subramanian 04-Dec-2014 -->				
				<value>com.amg.exchange.foreigncurrency.model.RoleWiseExchangeRate</value>
				<value>com.amg.exchange.foreigncurrency.model.CurrencyAdjustView</value>
				<value>com.amg.exchange.foreigncurrency.model.ReceiptPaymentView</value>
				<!-- Added for Remitance Setup Begin -->
				<value>com.amg.exchange.remittance.model.Relations</value>
				<value>com.amg.exchange.remittance.model.RoutingHeader</value>
				<value>com.amg.exchange.remittance.model.RoutingDetails</value>
				<value>com.amg.exchange.remittance.model.RelationsDescription</value>
				<value>com.amg.exchange.remittance.model.BeneficaryAccount</value>
				<value>com.amg.exchange.remittance.model.BeneficaryMaster</value>
				<!-- <value>com.amg.exchange.remittance.model.BeneficaryMasterLog</value> -->
				<value>com.amg.exchange.remittance.model.BeneficaryRelationship</value>
				<value>com.amg.exchange.remittance.model.BeneficaryContact</value>
				<value>com.amg.exchange.remittance.model.BeneficaryStatus</value>
				<value>com.amg.exchange.remittance.model.ServiceApplicabilityRule</value>
				<value>com.amg.exchange.remittance.model.PaymentMode</value>
				<value>com.amg.exchange.remittance.model.PaymentModeDesc</value>
				<value>com.amg.exchange.remittance.model.SpecialRateRequest</value>
				<value>com.amg.exchange.remittance.model.AdditionalBankRuleMap</value>
				<value>com.amg.exchange.remittance.model.AdditionalBankRuleAmiec</value>
				<value>com.amg.exchange.remittance.model.AdditionalBankRuleAddData</value>
				<value>com.amg.exchange.remittance.model.AmiecAndBankMapping</value>					
				<value>com.amg.exchange.remittance.model.BankServiceRule</value>
				<value>com.amg.exchange.remittance.model.BankCharges</value>
				<value>com.amg.exchange.remittance.model.BankExternalReferenceDetail</value>
				<value>com.amg.exchange.remittance.model.BankExternalReferenceHead</value>
				<value>com.amg.exchange.remittance.model.Remittance</value>
				<value>com.amg.exchange.remittance.model.RemittanceApplicationView</value>
				<value>com.amg.exchange.remittance.model.RemittanceBranchWiseEnquiryView</value>
				<value>com.amg.exchange.remittance.model.RemittanceApplication</value>
				<value>com.amg.exchange.remittance.model.AdditionalInstructionData</value>
				<value>com.amg.exchange.remittance.model.PurposeOfRemittanceView</value>
				<value>com.amg.exchange.remittance.model.RemittanceApplicationPurpose</value>
				<!-- <value>com.amg.exchange.remittance.model.RemiittanceApplication</value> -->
			 	<value>com.amg.exchange.remittance.model.RemitApplAml</value> 
				<value>com.amg.exchange.remittance.model.ApplicationAmlCheck</value>
				<value>com.amg.exchange.remittance.model.RemittanceAppBenificiary</value>
			 	<value>com.amg.exchange.remittance.model.TransferMode</value>
			 	<value>com.amg.exchange.remittance.model.Imps</value>
				<value>com.amg.exchange.registration.model.LoginLogoutHistory</value>
				<value>com.amg.exchange.remittance.model.CustomerBank</value>
				<value>com.amg.exchange.remittance.model.CustomerDBCardDetailsView</value>
				<value>com.amg.exchange.remittance.model.BankDebitCardLengthViewModel</value>
				<value>com.amg.exchange.remittance.model.ViewRoutingDetails</value>
				<value>com.amg.exchange.remittance.model.SwiftMasterView</value>
				<value>com.amg.exchange.remittance.model.CollectionDetailView</value>
				<value>com.amg.exchange.remittance.model.CollectionPaymentDetailsView</value>
				<value>com.amg.exchange.remittance.model.UnApprovedExchangeRatesView</value>
				<value>com.amg.exchange.remittance.model.AuthorizationExchangeRateApprovalView</value>
				<value>com.amg.exchange.remittance.model.ExchangeRateApprovalDetModel</value>
				<value>com.amg.exchange.remittance.model.ViewRoutingAgents</value>
				<value>com.amg.exchange.remittance.model.ViewRoutingAgentLocations</value>
				<value>com.amg.exchange.remittance.model.ViewHODirectInDirect</value>
				<value>com.amg.exchange.remittance.model.ViewSubAgent</value>
				<value>com.amg.exchange.remittance.model.ViewHODirectEFT</value>
				<value>com.amg.exchange.remittance.model.ViewStatesForICASH</value>
				<value>com.amg.exchange.remittance.model.ProductGroup</value>
				<value>com.amg.exchange.stoppayment.model.RefundInquiryView</value>
				<value>com.amg.exchange.remittance.model.AllBeneficiaryView</value>
				
				
				<value>com.amg.exchange.remittance.model.SwiftMasterCountryView</value>
				
				
				<!--  added for flex field on 21/12/2015 -->
				<value>com.amg.exchange.remittance.model.AdditionalBankRuleFlexFieldView</value>
				<!-- For Remittance Declaration report  -->
				<value>com.amg.exchange.remittance.model.CustomerDeclerationView</value>
				<value>com.amg.exchange.remittance.model.CustomerSpecialDealAppl</value>
				<value>com.amg.exchange.remittance.model.AuthicationLimitCheckView</value>
				
				<!-- For CASH PRODUCT REMITTANCE DETAILS  -->
				<value>com.amg.exchange.remittance.model.ViewServiceRemittance</value>
				<value>com.amg.exchange.remittance.model.ViewDeliveryModeMap</value>
				
				<!-- Added for shopping cart details -->
				<value>com.amg.exchange.remittance.model.ShoppingCartDetails</value>
				<value>com.amg.exchange.remittance.model.AmlLimit</value>
				
				<value>com.amg.exchange.remittance.model.AdditionalDataDisplayView</value>
				
				<value>com.amg.exchange.model.OnlineRateAlert</value>
				<value>com.amg.exchange.model.RateAlertFrequency</value>
				<!-- Added for Remitance Setup Begin End -->
				
				<!-- cash module Standing Instruction -->
				<value>com.amg.exchange.model.StandingInstruction</value>
				
				<value>com.amg.exchange.remittance.model.ServiceApplicParamData</value>
				<value>com.amg.exchange.remittance.model.ViewBankRuleAppField</value>
				
				<value>com.amg.exchange.remittance.model.ViewServiceAppRule</value>
				
				<value>com.amg.exchange.remittance.model.BeneServiceExceptionSetup</value>
				<value>com.amg.exchange.remittance.model.SwiftMaster</value>
				<value>com.amg.exchange.remittance.model.AdditionalBankDetailsView</value>
				<value>com.amg.exchange.remittance.model.PendingTransferRequestEnquiryView</value>
				
				<value>com.amg.exchange.treasury.model.Tickets</value>
				<value>com.amg.exchange.stoppayment.model.RemittanceTransaction</value>
				<value>com.amg.exchange.stoppayment.model.RemittanceComplaint</value>
				<value>com.amg.exchange.remittance.model.ViewBeneServiceCurrency</value>
				<value>com.amg.exchange.remittance.model.ViewStock</value>
				<value>com.amg.exchange.remittance.model.AccountTypeFromView</value>
				<value>com.amg.exchange.beneficiary.model.BanksView</value>

	           <!-- To get the BANKS -->
	           <value>com.amg.exchange.remittance.model.ViewBankDetails</value>
				<value>com.amg.exchange.treasury.viewModel.CurrencyMasterView</value>
				  <!-- <value>com.amg.exchange.remittance.model.RemittanceApplicationReport</value>  -->
				<!-- BCO Module -->
				
				<value>com.amg.exchange.bco.model.BranchComplianceOfficer</value>
				
				
				<value>com.amg.exchange.stoppayment.model.RemittanceTranxBenificiary</value>
				
				<!-- Cash Module -->
				<value>com.amg.exchange.cashtransfer.model.CashHeader</value>
				<value>com.amg.exchange.cashtransfer.model.CashDetails</value>
				
				<!-- Foreign Currency Purchase for Report  -->
				<value>com.amg.exchange.foreigncurrency.model.ForeignCurrencyPurchaseReport</value>
				
				<!-- Ows Schedule -->
				<value> com.amg.exchange.common.model.OwsSchedule</value>
					<!-- Bank Account Details View -->
				<value> com.amg.exchange.enquiry.model.BankAccountDetailsView</value>
				<value> com.amg.exchange.remittance.model.UnApprovalCashRate</value>
				<value>com.amg.exchange.treasury.model.DocumentSeriality</value>
				<value>com.amg.exchange.treasury.model.HighValueDealRequestView</value>
				<value>com.amg.exchange.treasury.model.TreasuryCustomerDeal</value>
				<value>com.amg.exchange.remittance.model.HighValueCurrencySetup</value>
				<value>com.amg.exchange.remittance.model.AdditionalBankDetailsView</value>
				
				
				<value>com.amg.exchange.remittance.model.ParameterMaster</value>
				<value>com.amg.exchange.remittance.model.ParameterDefinition</value>
				<value>com.amg.exchange.remittance.model.ParameterDetails</value>
				<value>com.amg.exchange.remittance.model.ParameterGrant</value>
				<value>com.amg.exchange.remittance.model.CashRate</value>
				<value>com.amg.exchange.remittance.model.CashLimit</value>
				<value>com.amg.exchange.remittance.model.CashLimitType</value>
				<value>com.amg.exchange.remittance.model.ViewExchangeRateAppDetails</value>
				<value>com.amg.exchange.registration.model.IncomeRangeValue</value>
				
				<!-- Complaint Module -->
				<value>com.amg.exchange.complaint.model.ComplaintTypeMaster</value>
				<value>com.amg.exchange.complaint.model.ComplaintTypeDesc</value>
				<value>com.amg.exchange.complaint.model.ComplaintAction</value>
				<value>com.amg.exchange.complaint.model.ComplaintActionDesc</value>
				<value>com.amg.exchange.complaint.model.CommunicationMethod</value>
				<value>com.amg.exchange.complaint.model.CommunicationMethodDesc</value>
				<value>com.amg.exchange.complaint.model.ComplaintAssigned</value>
				<value>com.amg.exchange.complaint.model.ComplaintAssignedDesc</value>
				<value>com.amg.exchange.complaint.model.ComplaintRemarksMaster</value>
				<value>com.amg.exchange.complaint.model.ComplaintRemarksDesc</value>
				<value>com.amg.exchange.complaint.model.ComplaintMatrix</value>
				<value>com.amg.exchange.complaint.model.ComplaintRemittanceViewModel</value>
				<value>com.amg.exchange.complaint.model.ComplaintPendingEnquiryView</value>
				<value>com.amg.exchange.complaint.model.ComplaintEnquiryRemittanceView</value>
				<value>com.amg.exchange.complaint.customer.support.model.ComplaintLog</value>
				<value>com.amg.exchange.complaint.customer.support.model.ComplaintSummary</value>
				<value>com.amg.exchange.complaint.customer.support.model.ComplaintFollowup</value>
				<value>com.amg.exchange.complaint.model.EmployeeAuthorization</value>
				<value>com.amg.exchange.cancelreissue.model.RemittanceView</value>
				<value>com.amg.exchange.cancelreissue.model.RemittanceTrnxViewStopMiscModel</value>
				<value>com.amg.exchange.registration.model.ViewRemarks</value>
				
				<!-- test Key Master -->
				<value>com.amg.exchange.testkey.model.TestKeyMaster</value>
				<value>com.amg.exchange.testkey.model.TestKeyValues</value>
				<value>com.amg.exchange.testkey.model.ViewTestKeyParameter</value>
				<!--  Currency Enquiry -->
				<value>com.amg.exchange.currency.inquiry.model.UserStockView</value>
				<value>com.amg.exchange.currency.inquiry.model.BranchWiseCurrencyStock</value>
				
				<value>com.amg.exchange.common.model.AvailableDatabaseObjects</value>
				<value>com.amg.exchange.common.model.AvailableTableColumns</value>
				
				<!--  Fund Transfer Inquiry -->
				<value>com.amg.exchange.enquiry.model.FundTransferInquiryModelView</value>
				<value>com.amg.exchange.enquiry.model.CashDepositInquiryModelView</value>
				<value>com.amg.exchange.enquiry.model.ViewFundSummaryDetails</value>
				
				
				<value>com.amg.exchange.cashtransfer.model.NonConfirmCashFlow</value>
				<value>com.amg.exchange.cashtransfer.model.NonConfirmCashFlowDetails</value>
				
				
				
					<!-- JV Processing  -->
				<value>com.amg.exchange.jvprocess.model.ViewActivitycenterAcnt</value>
				<value>com.amg.exchange.jvprocess.model.ViewBusinessoperationAlev2</value>
				<value>com.amg.exchange.jvprocess.model.ViewFranchiseAlev3</value>
				<value>com.amg.exchange.jvprocess.model.ViewGeneralValidationGlNo</value>
				<value>com.amg.exchange.jvprocess.model.ViewmainActivityALev1</value>
				<value>com.amg.exchange.jvprocess.model.ViewProductAlev4</value>
				
				<!-- High Value Transcation  -->
				<value>com.amg.exchange.highvalue.client.model.HighValueTransView</value>
				<value>com.amg.exchange.highvalue.client.model.HighValueTransDetailView</value>
				<value>com.amg.exchange.highvalue.client.model.HighValueClient</value>
				<!-- <value>com.amg.exchange.highvalue.client.model.HighValueCustomerTxnView</value> -->
				
				
				<!-- Black List -->
				<value>com.amg.exchange.blacklist.model.BlackListView</value>
				
				
				<value>com.amg.exchange.remittance.model.BenificiaryListView</value>
				<value>com.amg.exchange.cancelreissue.model.ViewRemiitanceInfo</value>
				<value>com.amg.exchange.cancelreissue.model.ViewRemittanceInquiryTransaction</value>
				
				<!-- Loyalty -->
				<value>com.amg.exchange.loyalty.model.LoyaltyPrivileges</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyScheduler</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyType</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyTypeDesc</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyCatagoryMaster</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyCatergoryMasterDesc</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyMasterEncashment</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyParameterSetting</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyLogOptions</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyMailOptions</value>
				<value>com.amg.exchange.loyalty.model.LoyaltyPromotionSettings</value>
				
				<!--Miscellaneous -->
				<value>com.amg.exchange.miscellaneous.model.PaymentDetail</value>
				<value>com.amg.exchange.miscellaneous.model.Payment</value>
				<value>com.amg.exchange.miscellaneous.model.ViewVwRemittanceTransaction</value>
				<value>com.amg.exchange.remittance.model.AuthorizedLog</value>
				
				<!--Bank Branch View -->
				<value>com.amg.exchange.beneficiary.model.BankBranchView</value>
				
				<value>com.amg.exchange.remittance.model.FlexFiledView</value>
				

                 <!-- 	pl enquiry -->
				<value> com.amg.exchange.enquiry.model.PlEnquiryView</value>
				
				<value>com.amg.exchange.remittance.model.RemittanceTxnView</value>
				
				<value>com.amg.exchange.beneficiary.model.CustomerRemittanceTransactionView</value>
				
				<value>com.amg.exchange.remittance.model.DebitAutendicationView</value>
				<value>com.amg.exchange.remittance.model.PlaceOrderBeneListView</value>
				<!-- Menu View  Model -->
				<!-- 
				<value>com.amg.exchange.menu.model.RoleWiseMenu</value>
				<value>com.amg.exchange.menu.model.Menu</value>
				<value>com.amg.exchange.menu.model.MenuGroup</value>
				<value>com.amg.exchange.menu.model.FileUpload</value>  -->

				<value>com.amg.exchange.foreigncurrency.model.TempCollectDetail</value>
				<value>com.amg.exchange.foreigncurrency.model.TempCollection</value>
				<value>com.amg.exchange.foreigncurrency.model.TempForeignCurrencyAdjust</value>
				
				<!--  Added by Rabil for KENT_LOG -->
				

				<value>com.amg.exchange.remittance.model.KnetLog</value>
	            <value>com.amg.exchange.treasury.model.TreasuryDealRegisterView</value>
	            <value>com.amg.exchange.treasury.model.ViewUnApprovedCashRate</value>
	            <!--  WU -->
	            <value>com.amg.exchange.wu.model.WesternUnionTransfer</value>
	            <value>com.amg.exchange.foreigncurrency.model.ForeignCurrencyAdjustWU</value>
	            <value>com.amg.exchange.foreigncurrency.model.CollectDetailWU</value>
				<value>com.amg.exchange.online.model.RatePlaceOrder</value>
				<value>com.amg.exchange.online.model.RatePlaceOrderAddlData</value>
				<value>com.amg.exchange.online.model.ViewPlaceOnOrderInquiry</value>
				<value>com.amg.exchange.online.model.ViewPlaceOnOrderFullInquiry</value>
				
				<!-- Added by subramanian for Branch Day Transaction Enquiry    -->
				
				<value>com.amg.exchange.currency.inquiry.model.BranchDayTransactionView</value>
				<value>com.amg.exchange.foreigncurrency.model.ViewReceiptPayment</value>
				<value>com.amg.exchange.remittance.model.BankChargesMasterLog</value>
				<value>com.amg.exchange.remittance.model.ViewPIPSType</value>
				
				<!-- EMOSCustomer added mohan for customer duplicate Check -->
			    <value>com.amg.exchange.registration.model.EMOSCustomer</value>  
			 
			    <!-- AlternateChannels added Ram Mohan for Alternate Channel -->
			    <value>com.amg.exchange.remittance.model.AlternateChannels</value>
			    <value>com.amg.exchange.remittance.model.ServiceProviderView</value>
			    <value>com.amg.exchange.registration.model.CustomerMobileLogModel</value>
			   
			 
			    <!-- Inter Country Company Transaction -->
			    <!-- <value>com.amg.exchange.intercompany.model.IntraTrnxModel</value> -->
                
                <value>com.amg.exchange.wuh2h.bean.ReceiveReceiptView</value> 
                <value>com.amg.exchange.wuh2h.bean.WUStateCityModel</value>
                <value>com.amg.exchange.wuh2h.bean.WUTermsAndConditions</value> 
                <value>com.amg.exchange.wuh2h.model.ViewWUSendTransaction</value>
				<value>com.amg.exchange.wuh2h.model.WURemittanceApplicationView</value> 
				<value>com.amg.exchange.wuh2h.model.WUCorridorCountry</value> 
				<value>com.amg.exchange.wuh2h.model.WUCorridorCurrency</value> 
				<value>com.amg.exchange.wuh2h.model.DynamicFileds</value> 
				<value>com.amg.exchange.wuh2h.model.DynamicPurposeCode</value> 	
			    <value>com.amg.exchange.wuh2h.model.WUReportTermsAndConditions</value> 

                <!-- Added by Anil for CBK reports -->
                <value>com.amg.exchange.cbk.model.CBKHeader</value>
                <value>com.amg.exchange.cbk.model.CBKDetails</value>
                <value>com.amg.exchange.cbk.model.CBKLines</value>
                <value>com.amg.exchange.cbk.model.CBKTotals</value>
                <value>com.amg.exchange.cbk.model.ViewExUnmappedGLS</value>
                
                <!-- Added by Anil for Telemarketing -->
                <value>com.amg.exchange.telemarketing.model.TelemartCustomer</value>
			   <!--  <value>com.amg.exchange.telemarketing.model.TelemartEmployee</value> -->
			    <value>com.amg.exchange.telemarketing.model.TelemartFolwUp</value>
			    <value>com.amg.exchange.telemarketing.model.VwExTelemartFolwUpCode</value>
			    
			    
			    <!-- Added by Anil for Association Tagging -->
			    <value>com.amg.exchange.associationtagging.model.AssociationTaggingVW</value>

				 <!--  Added by Ram Mohan for CBK Report -->
				<value>com.amg.exchange.jvprocess.model.ViewAccountCategory</value>
				<value>com.amg.exchange.jvprocess.model.ViewAccountClass</value>
				
				 <!--  Added by Ram Mohan for HighValue  -->
				 <value>com.amg.exchange.common.model.HighValueAMLAuthViewLocal</value>
				 <value>com.amg.exchange.common.model.HighValueAMLAuthViewFC</value>

	             <!-- Added by Rabil on 3rd April 2017 for AMTB -->
	             <value>com.amg.exchange.remittance.model.AmtbCoupon</value>
                 <value>com.amg.exchange.remittance.model.ViewAmtbCoupon</value>
	             <value>com.amg.exchange.remittance.model.ViewAmtbCouponReport</value>
	             <!-- End here -->
	             
	             <!--  Added by Ram Mohan for Promotion -->
	             <value>com.amg.exchange.promotion.model.PromotionDetails</value>
				  <value>com.amg.exchange.promotion.model.PromotionMaster</value>
				  <value>com.amg.exchange.promotion.model.PromotionPrize</value>
				   <!-- End here -->
				     <!--  Added by Ram Mohan for Promotion -->
	            	 <value>com.amg.exchange.cancelreissue.model.ViewRemittanceDocument</value>				 
				   <!-- End here -->
				   
				   <!--  Added by Ram Mohan for VwExBulkFxDeal  -->
	            	 <value>com.amg.exchange.treasury.model.VwExBulkFxDeal</value>				 
				   <!-- End here -->
				   
				   <value>com.amg.exchange.currency.inquiry.model.CashPositionByLocationView</value>
				   
				   <value>com.amg.exchange.wuh2h.settlement.model.WUTxnSummaryView</value>
				   
				   <value>com.amg.exchange.wuh2h.model.VwBrnc</value>
				   
				   <value>com.amg.exchange.registration.model.BranchSystemInventory</value>
				   <value>com.amg.exchange.registration.model.EmployeeSystemsAssigned</value>
				   <value>com.amg.exchange.remittance.model.SystemAllocationViewModel</value>
				   <value>com.amg.exchange.common.model.UserSession</value>
				   <value>com.amg.exchange.send_sms.SmsLogModel</value>
				   <value>com.amg.exchange.mail.ApplicationEmailLog</value>
				 
			</list>
		</property>
	</bean>


	<!-- Mail Sendar Bean -->
	 <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${host}" />
		<property name="port" value="${port}" />
		<property name="username" value="${emailid}" />
		<property name="password" value="${password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">${protocol}</prop>
				<prop key="mail.smtp.auth">${auth}</prop>
				<prop key="mail.smtp.starttls.enable">${enable}</prop>
				<prop key="mail.debug">${debug}</prop>

			</props>
		</property>
	</bean>
	<bean id="mailSender1" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		 
		<property name="host" value="${host}" />
		<property name="port" value="${port}" />
		<property name="username" value="${emailid}" />
		<property name="password" value="${password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">${protocol}</prop>
				<prop key="mail.smtp.auth">${auth}</prop>
				<prop key="mail.smtp.starttls.enable">${enable}</prop>
				<prop key="mail.debug">${debug}</prop>
			</props>
		</property>
	</bean>
	

 	<!-- You can have some pre-configured messagess also which are ready to 
		send -->
	<bean id="preConfiguredMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="to" value="nazish.h@almullagroup.com"></property>
		<property name="cc" value="neel.rish@gmail.com"></property>
		<property name="subject" value="Welcome To Almulla Group" />
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
			</list>
		</property>
	</bean>

	<tx:annotation-driven />

</beans>
