.ui-chkbox.checkdis .ui-state-disabled {
	border: 1px solid #000 !important;
	background: #ff5400 !important;
	opacity: 0.6 !important;
}

.ui-chkbox.checkdis .ui-state-active.ui-state-disabled {
	border: 1px solid #CCC !important;
	background: #F7F7F7 !important;
	opacity: 0.6 !important;
}

.ui-panelgrid td.rowstyle1 {
	text-align: left !important;
	padding: 10px !important;
	background: #fcfcfc !important;
	border: 1px solid #e5e5e5 !important;
}

.ui-panelgrid td.rowstyle2 {
	padding: 10px !important;
	font-weight: bold;
	background: #fcfcfc !important;
	border: 1px solid #e5e5e5 !important;
}

.ui-panelgrid td.rowstyle3 {
	text-align: left !important;
	padding: 10px !important;
	background: #f2f2f2 !important;
	border: 1px solid #e5e5e5 !important;
}

.ui-panelgrid td.rowstyle4 {
	padding: 10px !important;
	font-weight: bold;
	background: #f2f2f2 !important;
	border: 1px solid #e5e5e5 !important;
}

.ui-button.print {
	float: left;
	cursor: pointer;
	padding: 0px !important;
	box-shadow: none !important;
	background: url(../images/printer1.png) center top no-repeat #FFF
		!important;
	width: 30px;
	height: 30px;
	border: none !important;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

.ui-button.print:hover {
	float: left;
	cursor: pointer;
	padding: 0px !important;
	box-shadow: none !important;
	background: url(../images/printer1.png) center top no-repeat #FFF
		!important;
	width: 30px;
	height: 30px;
	border: none !important;
	opacity: 1;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
}

.link1 {
	text-align: right !important;
	color: #015825 !important;
	text-decoration: none !important;
	font-weight: bold;
}

.link1:hover {
	text-decoration: underline !important;
}

.ui-selectonemenu.blue label.ui-selectonemenu-label {
	background: #CDFADB !important;
}

.ui-accordion.inner_accardion .ui-accordion-header .ui-icon {
	display: none !important;
	visibility: hidden !important;
}

.ui-accordion.inner_accardion .ui-accordion-header {
	background: url(../images/open_close.png) right top no-repeat
		transparent !important;
	border-bottom: 1px solid #00a53e !important;
	border-top: none !important;
	margin: 15px 0px 0px 0px !important;
	padding: 0px !important;
	text-align: right;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-accordion.inner_accardion .ui-accordion-header.ui-state-active {
	background: url(../images/open_close.png) right bottom no-repeat
		transparent !important;
	border-bottom: 1px solid #00a53e !important;
	border-top: none !important;
	margin: 15px 0px 0px 0px !important;
	padding: 0px !important;
	text-align: right;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-accordion.inner_accardion .ui-accordion-header a {
	color: #00a53e !important;
	font-size: 17px !important;
	padding: 4px 40px 4px 0px !important;
	font-weight: normal !important;
}

.ui-accordion.inner_accardion .ui-accordion-content {
	background: none !important;
	border: 1px solid #00a53e !important;
	box-shadow: none !important;
	padding: 5px !important;
}

.ui-breadcrumb {
	background: #F8F8F8 !important;
	padding: 5px 20px !important;
	border: none !important;
}

.ui-breadcrumb.ui-widget-header {
	border: none !important;
	border-bottom: 1px solid #F0F0F0 !important;
}

.ui-breadcrumb.ui-widget-header a {
	font-size: 12px !important;
	font-weight: normal !important;
}

.ui-breadcrumb.ui-widget-header a:hover {
	color: #00a53e !important;
}

.right {
	text-align: left !important;
	padding: 10px !important;
}

.ui-widget-content a.link1 {
	font-weight: bold;
	color: #007f30 !important;
}

.ui-widget-content a.link1:hover {
	font-weight: bold;
	color: #000 !important;
	text-decoration: underline;
}

.ui-widget-content a {
	color: #333 !important;
}

.ui-panel .panel_border {
	border: 1px solid #64b381 !important;
	padding: 20px 10px !important;
	-webkit-border-radius: 0 4px 4px 4px !important;
	border-radius: 0 4px 4px 4px !important;
}

.ui-datatable .ui-sortable-column-icon {
	background-image: url("../images/ui_icons.png") !important;
}

h3 {
	background: url(../images/h3_bg1.png) right bottom no-repeat !important;
	text-align: left;
	padding: 5px 10px 5px 0px !important;
	margin: 15px 0px 0px 0px;
	font-size: 17px !important;
	font-weight: normal;
	color: #FFF;
}

.ui-panel .panel_border {
	border: 1px solid #64b381 !important;
	padding: 20px 10px !important;
	-webkit-border-radius: 4px 0px 4px 4px !important;
	border-radius: 4px 0px 4px 4px !important;
}

.ui-selectmanycheckbox label,.ui-selectoneradio label {
	margin-top: 0px !important;
	padding-right: 5px !important;
}

.ui-datepicker td span,.ui-datepicker td a {
	text-align: center !important;
}

.right {
	text-align: left !important;
	padding: 10px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 7px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	margin-right: 0px !important;
	background: none !important;
	border-top: 1px solid #AEA4A4 !important;
	border-right: 1px solid rgb(174, 164, 164) !important;
	border-bottom: 1px solid #AEA4A4 !important;
	height: 95% !important;
	box-shadow: none !important;
}

.hasDatepicker {
	background-image: url("../images/calendar.png") !important;
	background-position: right !important;
	background-repeat: no-repeat !important;
}

.ui-selectonemenu-list-item.ui-state-hover {
	font-weight: normal !important;
	background-color: #EEEEEE !important;
	border: none !important;
	font-size: 13px !important;
}

.ui-selectonemenu-list-item.ui-state-highlight {
	background-color: #CCC !important;
	border: none !important;
}

.ui-datatable tbody td {
	border: 1px solid #CCC !important;
}

.ui-widget-header {
	border: 1px solid #DDDDDD !important;
}

body {
	margin: 0% 10% 0% 10%;
	padding: 0px;
	background-color: #ebebeb;
	font-family: Arial;
	font-size: 13px;
	color: #999;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

* {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: right !important;
}

.ui-datatable tbody td {
	font-size: 12px !important;
}

a,img,input,textarea:focus {
	outline: none;
}

a:link {
	color: #333;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	text-decoration: none;
}

a:active {
	color: #333;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	text-decoration: none;
}

a:hover {
	color: #000;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	text-decoration: none;
}

a:visited {
	color: #333;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	text-decoration: none;
}

a:visited:hover {
	color: #000;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	text-decoration: none;
}

a img {
	border: none;
}

a,img,input,select,textarea:focus {
	outline: none;
}

.imageover {
	border: none;
	opacity: 1;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.imageover:hover {
	border: none;
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.clearfix {
	clear: both;
}

/* Slide Panel */
.cb_slide_panel {
	background-color: #eeeeee;
	border-right: 1px solid #dfdfdf;
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	position: fixed;
	z-index: 65000;
	display: none;
}

.cb_slide_panel.panel_left,.cb_slide_panel.panel_right {
	width: 219px;
	height: 100%;
}

.cb_slide_panel.panel_right {
	box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.17), 1px 1px 0
		rgba(255, 255, 255, 0.85) inset;
}

.cb_slide_panel.panel_top,.cb_slide_panel.panel_bottom {
	height: 278px;
	width: 100%;
}

.cb_slide_panel.panel_top {
	box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.17), -1px -1px 0
		rgba(255, 255, 255, 0.85) inset;
}

.cb_slide_panel.panel_bottom {
	box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.17), 1px 1px 0
		rgba(255, 255, 255, 0.85) inset;
}

.cb_slide_panel a.close {
	display: none !important;
	visibility: hidden !important;
	background: url(../images/panel_close_default.jpg) no-repeat;
	border: 1px solid #999;
	height: 40px;
	position: absolute;
	text-indent: -9999em;
	width: 40px;
	display: none;
}

.cb_slide_panel.panel_left a.close {
	display: none !important;
	visibility: hidden !important;
	right: -42px;
	top: 20px;
}

.cb_slide_panel.panel_right a.close {
	display: none !important;
	visibility: hidden !important;
	left: -42px;
	top: 20px;
}

.cb_slide_panel.panel_top a.close {
	display: none !important;
	visibility: hidden !important;
	bottom: -41px;
	left: 20px;
}

.cb_slide_panel.panel_bottom a.close {
	display: none !important;
	visibility: hidden !important;
	top: -41px;
	left: 20px;
}

.cb_slide_panel a.close:hover {
	display: none !important;
	visibility: hidden !important;
	background-position: -40px 0;
}

.cb_slide_panel.loading .inner {
	min-height: 300px;
	background: url(../images/ajax-loader.gif) no-repeat scroll 50% 50%
		transparent
}

.cb_slide_panel h1 {
	color: #FFFFFF;
	font-size: 1.2em !important;
	margin: -0.15em 0 20px;
	text-shadow: 0 1px 0 #000000;
}

.cb_slide_panel h2 {
	border-bottom: 1px solid #276BB3;
	color: #FFFFFF;
	font-size: 14px !important;
	margin: 0;
	padding: 1px 0 0;
	text-decoration: none;
	text-shadow: 0 1px 0 #1F5287;
}

.cb_slide_panel ul {
	padding: 0 0 0 10px;
	list-style-type: none;
}

.cb_slide_panel ul li {
	
}

.cb_slide_panel ul li a {
	color: #91aac4;
	text-decoration: none;
}

.cb_slide_panel ul li a:hover {
	color: #fff;
}

.wrapper {
	padding: 0px;
	margin: 0px;
}

#myprofile {
	background-color: #444444 !important;
	color: #FFF;
}

.ui-accordion .ui-accordion-header .ui-icon {
	left: 0.5em !important;
}

.ui-accordion .ui-accordion-header {
	background-image: none !important;
	margin: 0px !important;
	text-align: right !important;
	border-bottom: 1px solid #FFF !important;
	border-top: 1px solid #e0e0e0 !important;
	border-left: none !important;
	border-right: none !important;
	padding: 4px 0px 4px 10px !important;
	font-size: 13px !important;
	font-weight: normal !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-accordion .ui-accordion-header a {
	color: 333 !important;
	font-size: 13px !important;
	text-shadow: none !important;
	padding: 0.5em 0.5em 0.5em 1.8em;
}

.ui-accordion .ui-accordion-content .left_menu {
	display: block !important;
	font-size: 12px !important;
	padding: 5px 10px !important;
	color: #666 !important;
	border-bottom: 1px solid #FFF !important;
	border-top: 1px solid #e0e0e0 !important;
}

.ui-accordion .ui-accordion-content .left_menu:hover {
	color: #000 !important;
	background-color: #f1f1f1;
}

.ui-accordion .ui-accordion-content {
	background-color: #f8f8f8 !important;
	margin: -2px 0px 0px 0px !important;
	padding: 2px !important;
	-webkit-box-shadow: 0px 2px 2px 0 #aeaeae inset !important;
	box-shadow: 0px 2px 2px 0 #aeaeae inset !important;
}

#leftCol {
	margin: 2px !important;
}

.leftColumn {
	margin-top: 12px;
	height: 100% !important;
	padding-top: 1px;
	background-color: #f6f6f6;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	position: relative;
	left: 1px;
	margin-right: 15px;
}

.ui-button-text-only .ui-button-text {
	text-align: center !important;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #333 !important;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
	{
	color: #333 !important;
}

.menu_button {
	position: relative;
	height: 1px;
	right: 16px;
	top: 0px;
}

.rightColumn {
	width: 100% !important;
}

/* Slide Panel ----------------------------------------------------------------------- */
.ui-progressbar {
	display: none !important;
	visibility: hidden !important;
}

.ui-fileupload-buttonbar {
	background: none !important;
	border: none !important;
}

.ui-fileupload-files {
	left: 12%;
	z-index: 2;
	padding: 0px !important;
	margin: 0px !important;
	-webkit-box-shadow: 0px 0px 5px 0 #aeaeae;
	box-shadow: 0px 0px 5px 0 #aeaeae;
	background-color: #FFF !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
	position: absolute;
	margin-top: 10px;
}

.ui-autocomplete-panel .ui-autocomplete-list {
	background-color: #FFF !important;
}

.ui-message-error-detail {
	background-color: #FFF5F5 !important;
	border: 1px solid #F2DADA !important;
	color: #C31515 !important;
	padding: 0px 3px !important;
	position: absolute !important;
	margin-top: 28px !important;
	margin-left: 0px !important;
	font-size: 9px !important;
	font-weight: bold !important;
	width: auto;
}

.ui-shadow {
	-webkit-box-shadow: 0px 3px 5px 0 #aeaeae !important;
	box-shadow: 0px 3px 5px 0 #aeaeae !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-item {
	font-size: 13px !important;
}

.ui-chkbox .ui-chkbox-box {
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%)
		!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #ededed)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%)
		!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%) !important;
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%)
		!important; /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%)
		!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0) !important; /* IE6-9 */
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
	border: 1px solid #CCC !important;
}

.ui-chkbox,.ui-chkbox-box,.ui-state-hover {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-widget .ui-widget {
	font-size: 0.95em !important;
}

.ui-panel .shadow {
	padding: 5px 10px 20px 10px !important;
	margin: 15px !important;
	-webkit-box-shadow: 0px 0px 5px 0 #aeaeae;
	box-shadow: 0px 0px 5px 0 #aeaeae;
	background-color: #FFF !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

.ui-panel .shadow_button {
	margin: 10px auto !important;
	width: auto !important;
	display: table;
	text-align: center !important;
	padding: 10px !important;
	-webkit-box-shadow: 0px 0px 5px 0 #aeaeae;
	box-shadow: 0px 0px 5px 0 #aeaeae;
	background-color: #FFF !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

.shadow {
	padding: 5px 10px 20px 10px !important;
	margin: 15px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #FFF !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

.shadow_button {
	margin: 10px auto !important;
	width: auto !important;
	display: table;
	text-align: center !important;
	padding: 10px !important;
	-webkit-box-shadow: 0px 0px 5px 0 #aeaeae;
	box-shadow: 0px 0px 5px 0 #aeaeae;
	background-color: #FFF !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

.shadow_button_1 {
	margin: 0 auto !important;
	width: auto !important;
	display: block;
	text-align: center !important;
	padding: 10px !important;
	margin-bottom: 20px !important;
	-webkit-box-shadow: 0px 0px 5px 0 #aeaeae;
	box-shadow: 0px 0px 5px 0 #aeaeae;
	background-color: #FFF !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

.ui-widget-content {
	background: none;
	border: none !important;
}

.ui-panel .ui-panel-content {
	background: none;
	border: none !important;
}

.ui-panel {
	background: none;
	border: none !important;
}

.ui-corner-all {
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* .ui-selectonemenu {
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	border: 1px solid #FFFFFF !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
} */
.ui-selectonemenu {
	border: 1px solid #cfcfcf !important;
	border-radius: 0px !important;
	/* border-color:#FF00FF !important; */
}

.ui-selectonemenu:focus {
	outline: none !important;
	border-color: #FF00FF !important;
	box-shadow: 0 0 10px #FF00FF;
}

.ui-selectonemenu-items :focus {
	background-color: #FF00FF;
}

.ui-selectonemenu-label:focus {
	background-color: #FF00FF;
}

.header {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.header_container {
	margin: 0px auto;
	margin-right: 17px;
	padding: 0px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.login_container {
	width: 950px;
	margin: 0px auto;
	padding: 0px;
	height: 87px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.login_container1 {
	width: 950px;
	margin: 0px auto;
	padding: 0px;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.login_main_div {
	margin: 10px 0px 0px 0px;
	background-color: #fafafa;
	padding: 0px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
}

.header {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.container {
	width: 100% !important;
	margin: 0px auto;
	margin-bottom: 0px !important;
	padding: 0px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.menu_icon {
	position: absolute;
	top: 90px;
	right: 0px;
}

.logo {
	float: right;
	width: 311px;
}

.logo img {
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.top_nav {
	float: right;
	font-family: "Arial";
	font-size: 22px !important;
	color: #00a53e;
	padding: 30px 0px 0px 30px;
	text-align: right;
}

.top_nav_lang {
	margin: 50px 0px 0px 0px;
	float: left;
	font-family: "Arial";
	font-size: 12px;
	color: #FFFFFF;
	padding: 0px 0px 10px 20px;
	text-align: right;
}

.top_nav_lang a:link {
	color: #00a53e !important;
}

.top_nav_lang a:visited {
	color: #00a53e !important;
}

.top_nav_lang a:hover {
	color: #333 !important;
}

.top_nav span {
	font-size: 18px !important;
}

.navigation_bg {
	display: none;
	visibility: hidden;
	background-color: #00a53e;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	-webkit-box-shadow: 0px 1px 5px 0 #8C8C8C;
	box-shadow: 0px 1px 5px 0 #8C8C8C;
}

ul.naigation {
	float: right;
	margin: 0;
	padding: 0;
}

ul.naigation li {
	border-right: 1px solid #02c94d;
	display: block;
	float: right;
	list-style: none;
	font-family: "Arial";
	font-size: 15px !important;
	color: #FFFFFF;
	padding: 0px 15px 0px 14px;
}

ul.naigation li a:link {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 15px;
	border: 1px solid transparent;
}

ul.naigation li a:visited {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 15px;
	border: 1px solid transparent;
}

ul.naigation li a:hover {
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	padding: 10px 15px;
	background: url(../images/language_bg.png) repeat;
	border: 1px solid #01b745;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: inset 1px 1px 3px 0 #333;
	box-shadow: inset 1px 1px 3px 0 #333;
}

ul.naigation li a img {
	margin-bottom: 10px;
}

.language {
	float: right;
	width: 150px;
	text-align: right;
	margin: 13px 10px 0px 0px;
	padding: 0px;
	color: #FFF;
}

.language a:link {
	font-size: 11px !important;
	padding: 5px;
	font-weight: bold;
	color: #FFF;
}

.language a:visited {
	font-size: 11px !important;
	padding: 5px;
	font-weight: bold;
	color: #FFF;
}

.language a:hover {
	font-size: 11px !important;
	padding: 5px;
	font-weight: bold;
	color: #000;
}

.main_div {
	margin: 10px 0px;
	background-color: #FFF;
	padding: 0px;
	border: 1px solid #c3c3c3;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
}

.main_div1 {
	margin: 35px 15px 35px 0px;
	background-color: #fafafa;
	padding: 0px;
	border: 1px solid #c3c3c3;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
}

.success_heading {
	font-weight: normal !important;
	text-align: center !important;
	font-size: 24px !important;
	color: #FFF;
	display: block;
	background: url(../images/header_bg.jpg) right center no-repeat #00a53e;
	padding: 7px;
	border-bottom: 2px solid #ffa336;
	margin-bottom: 10px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.main_div h1 {
	font-weight: normal !important;
	text-align: center !important;
	font-size: 24px !important;
	color: #333;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0); /* IE6-9 */
	padding: 7px;
	border-bottom: 1px solid #bebebe;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.main_div1 h1 {
	font-weight: normal !important;
	text-align: center !important;
	font-size: 24px !important;
	color: #333;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0); /* IE6-9 */
	padding: 7px;
	border-bottom: 1px solid #bebebe;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.ui-widget-content,.ui-panelgrid-even {
	background: none !important;
}

.ui-selectonemenu-filter-container {
	background: #FFF !important;
}

.heading1 {
	font-weight: normal !important;
	text-align: center;
	font-size: 24px !important;
	color: #333;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0); /* IE6-9 */
	padding: 7px;
	border-bottom: 1px solid #bebebe;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.form_text1 {
	font-size: 13px;
	color: #333333;
	padding: 5px 5px 5px 0px;
}

.form_text1 span {
	color: #FF0000;
}

.form_text1 span.small_text {
	font-size: 10px !important;
	color: #999;
}

.input_style1 {
	background-color: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding: 3px 5px;
	width: 270px;
	height: 20px;
	font-size: 13px;
	color: #999;
	font-family: "Arial";
	-webkit-box-shadow: 0px 0px 3px 0 #CCC;
	box-shadow: 0px 0px 3px 0 #CCC;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.input_style1:focus {
	background-color: #fafafa;
	border: 1px solid #9ac6da;
	color: #333;
	-webkit-box-shadow: 0px 0px 6px 0 #8bcfee;
	box-shadow: 0px 0px 6px 0 #8bcfee;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.select_style1 {
	background-color: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding: 5px;
	width: 100px;
	height: 30px;
	font-size: 13px;
	color: #999;
	font-family: "Arial";
	-webkit-box-shadow: 0px 0px 3px 0 #CCC;
	box-shadow: 0px 0px 3px 0 #CCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.select_style1:hover {
	background-color: #fafafa;
	border: 1px solid #9ac6da;
	color: #333;
	-webkit-box-shadow: 0px 0px 6px 0 #8bcfee;
	box-shadow: 0px 0px 6px 0 #8bcfee;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.select_style2 {
	background-color: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding: 5px;
	width: 280px;
	height: 30px;
	font-size: 13px;
	color: #999;
	font-family: "Arial";
	-webkit-box-shadow: 0px 0px 3px 0 #CCC;
	box-shadow: 0px 0px 3px 0 #CCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.select_style1:hover {
	background-color: #fafafa;
	border: 1px solid #9ac6da;
	color: #333;
	-webkit-box-shadow: 0px 0px 6px 0 #8bcfee;
	box-shadow: 0px 0px 6px 0 #8bcfee;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

h2 {
	text-align: right;
	padding: 7px 10px;
	margin: 15px 0px 10px 0px;
	border-right: 5px solid #00a53e;
	font-size: 17px !important;
	font-weight: normal;
	color: #00a53e;
	border-bottom: 1px solid #00a53e;
}

.heading2 {
	width: 100%;
	text-align: right;
	padding: 7px 10px;
	margin: 0px 0px 10px 0px;
	border-right: 5px solid #00a53e;
	font-size: 16px !important;
	font-weight: normal;
	color: #00a53e;
	border-bottom: 1px solid #00a53e;
}

.button1 {
	background-image: none !important;
	border: 1px solid #006827 !important;
	font-family: "Arial" !important;
	font-size: 12px !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	color: #FFFFFF !important;
	text-align: center !important;
	padding: 5px 10px !important;
	cursor: pointer !important;
	-webkit-border-radius: 4px 4px 4px 4px !important;
	border-radius: 4px 4px 4px 4px !important;
	-webkit-box-shadow: 0px 1px 3px 0 #8C8C8C !important;
	box-shadow: 0px 1px 3px 0 #8C8C8C !important;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
	background-color: #00a53e !important;
}

.button1:hover {
	border: 1px solid #006827 !important;
	padding: 5px 10px !important;
	font-family: "Arial" !important;
	font-size: 0.95em !important;
	text-transform: uppercase !important;
	font-weight: normal !important;
	color: #FFFFFF !important;
	text-align: center !important;
	cursor: pointer !important;
	-webkit-border-radius: 4px 4px 4px 4px !important;
	border-radius: 4px 4px 4px 4px !important;
	-webkit-box-shadow: 0px 1px 3px 0 #8C8C8C !important;
	box-shadow: 0px 1px 3px 0 #8C8C8C !important;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
	background-color: #006827 !important;
}

.ui-button {
	text-shadow: none !important;
	background-image: none !important;
	border: 1px solid #007f30 !important;
	font-family: Arial !important;
	font-size: 0.95em !important;
	text-transform: uppercase !important;
	font-weight: normal !important;
	color: #FFFFFF !important;
	text-align: center !important;
	padding: 0px !important;
	cursor: pointer !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
	border-radius: 0px 0px 0px 0px !important;
	-webkit-box-shadow: inset 0px 1px 0px 0 #28d268 !important;
	box-shadow: inset 0px 1px 0px 0 #28d268 !important;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
	background-color: #00a53e !important;
}

.ui-button:hover {
	text-shadow: none !important;
	border: 1px solid #007f30 !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
	border-radius: 0px 0px 0px 0px !important;
	-webkit-box-shadow: inset 0px 1px 0px 0 #00a53e !important;
	box-shadow: inset 0px 1px 0px 0 #00a53e !important;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
	background-color: #006827 !important;
}

.ui-menu .ui-menuitem-link {
	margin: 0px 0px 0px 10px !important;
}

.ui-menu .ui-menuitem-link {
	color: #FFF !important;
}

.ui-menubar .ui-menuitem-link:hover {
	background: url(../images/language_bg.png) repeat !important;
	border: 1px solid #01b745 !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	font-weight: normal !important;
	-webkit-box-shadow: inset 1px 1px 3px 0 #333 !important;
	box-shadow: inset 1px 1px 3px 0 #333 !important;
	color: #FFF !important;
}

.ui-menubar .ui-menu-child {
	text-align: right !important;
}

.ui-menubar .ui-menu-child .ui-state-hover {
	background: url(../images/language_bg.png) repeat !important;
	border: 1px solid #01b745 !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	font-weight: normal !important;
	-webkit-box-shadow: inset 1px 1px 3px 0 #333 !important;
	box-shadow: inset 1px 1px 3px 0 #333 !important;
}

.ui-menubar .ui-menu-child .ui-state-focus {
	background: url(../images/language_bg.png) repeat !important;
	border: 1px solid #01b745 !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-box-shadow: inset 1px 1px 3px 0 #333 !important;
	box-shadow: inset 1px 1px 3px 0 #333 !important;
}

.table_border1 {
	border: 1px solid #CCC;
	padding: 1px;
}

.table2-header td {
	border-right: 1px solid #06b246;
	text-align: right;
	padding: 7px 10px;
	font-family: "Arial";
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background: #00a53e; /* Old browsers */
	background: -moz-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a53e),
		color-stop(100%, #029238)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #00a53e 0%, #029238 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a53e',
		endColorstr='#029238', GradientType=0); /* IE6-9 */
}

.table_bg1 td {
	padding: 7px 10px;
	font-family: "Arial";
	font-size: 13px;
	color: #333;
	background-color: #ebebeb;
	border-right: 1px solid #CCC;
}

.table_bg2 {
	padding: 7px 10px;
	font-family: "Arial";
	font-size: 13px;
	color: #000;
	background-color: #FFF;
	border-right: 1px solid #ebebeb;
}

.table_bg3 {
	padding: 7px;
	background-color: #f4f4f4;
}

.footer {
	margin-left: 0px !important;
	margin-right: 15px;
	margin-top: 25px;
	text-align: center !important;
	padding: 10px;
	font-size: 12px;
	color: #FFF;
	background-color: #444444;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

* {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.fleft {
	float: right;
}

.fright {
	float: right;
}

.navi {
	margin: 5px !important;
	float: right;
	height: 30px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.navi li {
	float: right;
	font-family: Arial !important;
	color: #fff !important;
	font-size: 13px !important;
	font-weight: normal !important;
	line-height: 34px !important;
	padding-right: 10px !important;
}

.clr {
	clear: both;
}

.form-table td {
	padding-bottom: 10px;
}

.table2 th {
	background: #e0e0e0;
	height: 30px;
	text-align: right;
}

.table2 td {
	border-bottom: 1px solid #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ui-menubar {
	border: 0px none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.ui-menu-child .ui-menuitem-text {
	color: #FFF !important;
	font-size: 13px !important;
}

.ui-menu,.ui-menu .ui-menu-child {
	background: none !important;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	background-color: #00a53e !important;
	border: 1px solid #00a53e !important;
	color: #FFF !important;
	padding: 3px 7px !important;
}

.ui-menu-child .ui-menuitem-text {
	color: #FFF;
	font-size: 13px;
}

.ui-menu .ui-menuitem {
	float: right !important;
	color: #FFF !important;
}

.ui-menubar .ui-menuitem-link {
	color: #FFF !important;
}

.ui-menu .ui-separator {
	border-bottom: 1px solid #00BC4B !important;
	width: 95% !important;
	background: none !important;
	margin-right: 5px !important;
}

.ui-inputfield.ui-state-focus,.ui-widget-content .ui-inputfield.ui-state-focus,.ui-widget-header .ui-inputfield.ui-state-focus
	{
	text-align: right;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield-hover
	{
	text-align: left;
	color: #333;
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	border: 1px solid #cfcfcf !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	font-weight: normal;
}

.ui-inputfield.ui-state-focus,.ui-widget-content .ui-inputfield.ui-state-focus,.ui-widget-header .ui-inputfield.ui-state-focus
	{
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	border: 1px solid #cfcfcf !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	font-weight: normal;
}

.ui-messages-error,.ui-message-error {
	width: 160px;
	margin: 5px 0px;
}

.height1 {
	margin: 10px 0px;
}

.link1 {
	color: #FFF;
}

.link1:visited {
	color: #FFF;
}

.ui-menu ui-menubar ui-widget ui-widget-content ui-corner-all ui-helper-clearfix navi
	{
	/* background:none;  */
	color: #FFF;
}

.ui-widget-content ui-menu-list ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow
	{
	/* background:none;  */
	color: #FFF;
}

.ui-panel .ui-panel-content {
	padding: 0px;
}

#inputForm2:j_idt98_content {
	padding: 0px;
}

.loginbg {
	background: url(../images/login_bg.png) left top no-repeat !important;
	background-color: none!imoortant;
	background-size: 100% 100% !important;
	font-size: 13px;
	padding: 150px 10px 10px 10px;
	color: #FFF;
	width: 320px;
	float: right;
	width: 570px;
	position: absolute;
	margin: 0px;
	left: 0px;
	right: 200px;
	top: 0px;
	bottom: 0px;
	height: 563px;
	z-index: 0;
	display: block;
	visibility: visible;
}

.ui-layout-unit ui-widget ui-widget-content ui-corner-all ui-layout-center loginbg ui-layout-pane ui-layout-pane-center
	{
	width: 550px;
	position: absolute;
	margin: 0px;
	left: 0px;
	right: 200px;
	top: 0px;
	bottom: 0px;
	height: 563px;
	z-index: 0;
	display: block;
	visibility: visible;
}

.ui-panel-content ui-widget-content {
	padding: 0px!imoortant;
}

.ui-layout-unit .ui-layout-unit-content {
	background-color: none!imoortant;
}

.table_border1 {
	border: 1px solid #CCC !important;
	padding: 1px !important;
}

.table_heading1 {
	border-right: 1px solid #06b246;
	text-align: right;
	padding: 7px 10px;
	font-family: "Arial";
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background: #00a53e; /* Old browsers */
	background: -moz-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a53e),
		color-stop(100%, #029238)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00a53e 0%, #029238 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #00a53e 0%, #029238 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a53e',
		endColorstr='#029238', GradientType=0); /* IE6-9 */
}

.table_bg {
	padding: 10px;
}

.table_bg1 {
	padding: 7px 10px;
	font-family: "Arial";
	font-size: 13px;
	color: #333;
	background-color: #ebebeb;
	border-right: 1px solid #CCC;
}

.table_bg2 {
	padding: 7px 10px;
	font-family: "Arial";
	font-size: 13px;
	color: #000;
	background-color: #FFF;
	border-right: 1px solid #ebebeb;
}

.table_bg3 {
	padding: 7px;
	background-color: #f4f4f4;
}

.ui-datatable thead th {
	border-right: 1px solid #06b246 !important;
	text-align: right !important;
	padding: 5px !important;
	font-family: "Arial" !important;
	font-size: 13px !important;
	font-weight: bold !important;
	color: #FFFFFF !important;
	text-shadow: none !important;
	background: #00a53e !important; /* Old browsers */
	background: -moz-linear-gradient(top, #00a53e 0%, #029238 100%)
		!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a53e),
		color-stop(100%, #029238)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00a53e 0%, #029238 100%)
		!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00a53e 0%, #029238 100%) !important;
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00a53e 0%, #029238 100%)
		!important; /* IE10+ */
	background: linear-gradient(to bottom, #00a53e 0%, #029238 100%)
		!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a53e',
		endColorstr='#029238', GradientType=0) !important; /* IE6-9 */
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	border: 1px solid #cfcfcf !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	font-weight: normal;
	padding: 3px 5px !important;
	height: 20px !important;
	font-size: 13px !important;
	color: #999 !important;
	font-family: "Arial" !important;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
}

.ui-widget textarea {
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	border: 1px solid #cfcfcf !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	font-weight: normal;
	padding: 3px 5px !important;
	height: 70px !important;
	line-height: 18px;
	font-size: 13px !important;
	color: #999 !important;
	font-family: "Arial" !important;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
	width: 95% !important;
}

.ui-inputfield.ui-state-focus,.ui-widget-content .ui-inputfield.ui-state-focus,.ui-widget-header .ui-inputfield.ui-state-focus
	{
	background-color: #fcfffd !important;
	border: 1px solid #afafaf !important;
	color: #333 !important;
	-webkit-box-shadow: 1px 1px 0px 0 #aeaeae !important;
	box-shadow: 1px 1px 0px 0 #aeaeae !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	font-weight: normal;
	transition: all 0.3s ease 0s !important;
	-webkit-transition: all 0.3s ease 0s !important;
	-moz-transition: all 0.3s ease 0s !important;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	text-align: center !important;
	width: 84% !important;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	width: 9em !important;
	left: -80px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	text-align: right !important;
}

.ui-inputfield {
	width: 95%;
}

ui-text-size {
	background-color: #ccffcc;
	border: none;
	/* font-size: 10px; */
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
}

.ui-selectonemenu-list {
	background-color: white;
	/* width:100px; */
}

.ui-selectonemenu {
	width: 100% !important;
}

.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column,.ui-datatable .ui-datatable-data td.ui-cell-editing
	{
	background: none !important;
	border-color: #CCC !important;
}

.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column,.ui-datatable .ui-datatable-data td.ui-cell-editing
	{
	padding: 0px 0px 0px 10px;
}

select {
	background-color: white;
}

.ui-helper-hidden-accessible {
	background-color: white;
}

.ui-layout-unit .ui-layout-unit-content {
	background: none !important;
}

.ui-panelgrid td,.ui-panelgrid tr {
	border-style: none !important
}

.ui-messages-error,.ui-message-error {
	color: red;
	background-color: #FFFFFF;
	border: none;
	font-size: 3px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: right;
}

.ui-state-default {
	/* background-color: #dfdbda;  */
	font-weight: normal !important;
	color: #555555;
}

.ui-inputfield {
	width: 95%;
}

ui-text-size {
	background-color: #ccffcc;
	border: none;
	/* font-size: 10px; */
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: right;
}

.ui-selectonemenu-list {
	background-color: white;
	/* width:100px; */
}

.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column,.ui-datatable .ui-datatable-data td.ui-cell-editing
	{
	background: none !important;
	border-color: #CCC !important;
}

.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column,.ui-datatable .ui-datatable-data td.ui-cell-editing
	{
	padding: 0px 0px 0px 10px;
}

select {
	background-color: white;
}

.ui-helper-hidden-accessible {
	background-color: white;
}

.ui-layout-unit .ui-layout-unit-content {
	background: none !important;
}

.ui-panelgrid td,.ui-panelgrid tr {
	border-style: none !important
}

.ui-widget button.delete {
	background: url(../images/delete1.png) no-repeat !important;
	border: none !important;
	width: 16px;
	height: 16px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-widget button.delete:hover {
	background: url(../images/delete1.png) no-repeat !important;
	border: none !important;
	width: 16px;
	height: 16px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	opacity: 1;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-widget button.edit {
	background: url(../images/edit.png) no-repeat !important;
	border: none !important;
	width: 30px;
	height: 30px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	opacity: 0.3;
	filter: alpha(opacity = 30); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-widget button.edit:hover {
	background: url(../images/edit.png) no-repeat !important;
	border: none !important;
	width: 30px;
	height: 30px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	opacity: 1;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-widget button.view {
	background: url(../images/viewer.png) no-repeat !important;
	border: none !important;
	width: 30px;
	vertical-align: top;
	height: 30px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	opacity: 0.4;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-widget button.view:hover {
	background: url(../images/viewer.png) no-repeat !important;
	border: none !important;
	width: 30px;
	vertical-align: top;
	height: 30px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	opacity: 1;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.ui-widget button.logout {
	float: left;
	background-color: #00CC4E !important;
	color: #FFF !important;
	text-shadow: none !important;
	font-family: arial !important;
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 1px !important;
	margin-top: 2px !important;
}

.ui-widget button.logout:hover {
	float: left;
	background-color: #FFF !important;
	color: #000 !important;
	text-shadow: none !important;
	font-family: arial !important;
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 1px !important;
	margin-top: 2px !important;
}

.yes {
	background: url(../images/tick.png) no-repeat !important;
	border: none !important;
	width: 16px;
	height: 16px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.no {
	background: url(../images/close.png) no-repeat !important;
	border: none !important;
	width: 16px;
	height: 16px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	background-color: #FFF !important;
}

.ui-selectonemenu-panel {
	background-color: #FFF !important;
	border-top: 1px solid #CCC !important;
}

.ui-selectonemenu-filter-container {
	width: 98% !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	border: 1px solid #f5f5f5 !important;
}

.ui-datepicker {
	background-color: #FFF !important;
	border: 1px solid #CCC !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	border: 1px solid #CCC !important;
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span
	{
	text-indent: 9999px;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	text-shadow: 1px 1px 1px #999999 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
	right: 23px !important;
}

.ui-menu .ui-menuitem-text {
	float: right !important;
}

.ui-icon-triangle-1-e {
	background-position: -99px -16px !important;
}

.data_table {
	padding: 0px;
	border: none;
	overflow-x: auto;
}

.ui-layout-pane-east {
	width: 305px !important;
	padding-left: 10px !important;
}

.button_align {
	width: 81%;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: left !important;
}

.button_align_1 {
	width: 50% !important;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: left !important;
}

.left_col {
	width: 48% !important;
	float: right !important;
	vertical-align: middle !important;
	margin-bottom: 7px;
}

.right_col {
	width: 48% !important;
	float: right !important;
	vertical-align: middle !important;
	margin-bottom: 7px;
}

.ui-panel .ui-panel-content {
	font-size: 13px !important;
}

.inner_left_col {
	vertical-align: middle;
	width: 30% !important;
	float: right !important;
	padding: 10px 10px 0px 0px;
}

.inner_right_col {
	vertical-align: middle;
	width: 48% !important;
	float: right !important;
}

@media ( max-width :1024px) {
	body {
		width: 100% !important;
		margin: 0px 0px !important;
		background-color: #ebebeb;
	}
}

@media ( max-width : 768px) {
	.left_col {
		width: auto !important;
		float: none !important;
		margin-bottom: 0px;
	}
	.right_col {
		width: auto !important;
		float: none !important;
		margin-bottom: 0px;
	}
	.inner_left_col {
		width: auto !important;
		float: none !important;
		padding: 10px 3px 0px 0px;
	}
	.inner_right_col {
		width: auto !important;
		float: none !important;
	}
	.ui-widget textarea {
		width: 98% !important;
	}
	.ui-message-error-detail {
		background-color: #FFF5F5 !important;
		border: 1px solid #F2DADA !important;
		color: #C31515 !important;
		padding: 3px !important;
		position: absolute !important;
		margin-top: 4px !important;
		margin-left: 100px !important;
		font-size: 10px !important;
		font-weight: bold !important;
		z-index: 9999;
		width: auto;
	}
	.main_div1 {
		margin: 5px 5px 5px 5px;
	}
	.leftColumn {
		margin-right: -10px !important;
		margin-left: 10px !important;
	}
	body {
		width: 100% !important;
		margin: 0px 0px !important;
		background-color: #ebebeb;
	}
	.login_container {
		width: auto !important;
		height: 150px;
	}
	.login_container1 {
		width: auto !important;
		margin: 10px !important;
		-webkit-border-radius: 3px 3px 3px 3px !important;
		border-radius: 3px 3px 3px 3px !important;
	}
	.container {
		width: auto;
		float: none;
		margin: 0px auto;
		margin-bottom: -24px;
		padding: 0px;
	}
	.menu_icon {
		top: 147px;
		left: 0px;
	}
	.header_container {
		width: 100% !important;
		background-color: #ebebeb;
		float: none;
		height: 170px;
		margin: 0px 0px 0px 0px !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		-webkit-border-radius: 0px 0px 0px 0px;
		border-radius: 0px 0px 0px 0px;
	}
	.ui-layout-pane-east {
		width: 96% !important;
		padding-left: 20px !important;
	}
	.header {
		height: 150px;
		width: auto;
	}
	.ui-selectonemenu label.ui-selectonemenu-label {
		width: 94% !important;
	}
	.ui-layout-pane-east {
		width: 96% !important;
		padding-left: 20px !important;
	}
	.top_nav_lang {
		background-color: #f4f4f4;
		margin: 0px 0px 0px 0px;
		float: none;
		display: block;
		font-family: "Arial";
		font-size: 12px;
		color: #00a53e;
		padding: 5px 0px 5px 10px;
		text-align: left;
	}
	.ui-layout-unit .ui-widget .ui-widget-content .ui-corner-all .ui-layout-center .loginbg .ui-layout-pane .ui-layout-pane-center
		{
		display: none !important;
		visibility: hidden !important;
	}
	.ui-layout-resizer .ui-layout-resizer-east .ui-layout-resizer-open .ui-layout-resizer-east-open
		{
		display: none !important;
		visibility: hidden !important;
	}
	.ui-layout-unit .ui-widget .ui-widget-content .ui-corner-all .ui-layout-east  .loginbg1 .ui-layout-pane .ui-layout-pane-east
		{
		width: auto !important;
		position: relative !important;
		float: left;
	}
	.loginbg {
		display: none !important;
		visibility: hidden !important;
	}
	.container {
		width: auto;
		padding: 0px;
	}
	.logo {
		background-color: #00a53e !important;
		border-top: 1px solid #FFF;
		float: none;
		width: auto;
		text-align: right !important;
		height: auto;
	}
	.navi {
		width: 93% !important;
		height: auto;
	}
	.main_div {
		width: auto !important;
		margin: 5px !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	.ui-widget-content {
		border: none;
	}
	.fleft {
		float: none;
	}
	.top_nav {
		float: none;
		text-align: center !important;
		width: auto;
		color: #FFF;
		display: block;
		margin: -2px 0px 0px 0px;
		background-color: #01c74b;
		padding: 5px 0px 5px 0px;
		clear: both;
		font-size: 18px !important;
	}
	.top_nav label {
		text-align: center !important;
	}
	h2 {
		margin: 0px 0px 20px 0px;
	}
	.heading2 {
		margin: 0px 0px 20px 0px;
	}
	.ui-selectonemenu {
		width: 100% !important;
	}
	.ui-inputfield {
		width: 98% !important;
	}
	.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
		{
		height: 25px !important;
		padding: 3px 5px !important;
		line-height: 25px !important;
	}
	.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
		margin-top: 10px !important;
	}
	.table_bg {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.button_align {
		width: 99% !important;
	}
	.button_align_1 {
		width: 99% !important;
	}
	.footer {
		float: none;
		margin: 25px 0px 0px 0px !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		-webkit-border-radius: 0px 0px 0px 0px;
		border-radius: 0px 0px 0px 0px;
	}
	.logo img {
		-webkit-border-radius: 0px 0px 0px 0px;
		border-radius: 0px 0px 0px 0px;
	}
}

@media ( max-width : 320px) {
	.login_container {
		margin: 0px !important;
		width: auto !important;
		height: 165px;
	}
	.login_container1 {
		margin: 0px !important;
		width: auto !important;
	}
	.header_container {
		height: 145px;
	}
	.header {
		border: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.logo img {
		width: 298px !important;
	}
	.top_nav {
		font-size: 16px !important;
		border: none;
		-webkit-border-radius: none;
		border-radius: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.container {
		width: auto !important;
		border: none;
		-webkit-border-radius: none;
		border-radius: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0px 0px;
	}
	.navigation_bg {
		display: block;
		visibility: visible;
		margin: 5px 0px 1px 0px;
		border: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.main_div {
		margin: 0px auto;
		padding: 5px 0px 0px 0px;
		border: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.table_bg {
		padding: 0px;
		border: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.main_div h1 {
		font-size: 18px;
		margin-bottom: 0px;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.footer {
		font-size: 11px !important;
	}
	.ui-inputfield {
		width: 95% !important;
	}
	.fright {
		float: left !important;
	}
	.navi {
		width: auto !important;
	}
	.menu_button {
		display: none;
		visibility: hidden;
	}
	.leftColumn {
		display: none;
		visibility: hidden;
	}
	.rightColumn {
		width: auto !important;
	}
	.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
		{
		height: 20px !important;
		padding: 3px 5px !important;
		line-height: 20px !important;
	}
}