.login_bg1{ width:240px; float:right; margin:5px; padding:10px; background-color:#FFF !important; border:1px solid #e5e5e5;
-webkit-box-shadow: 1px 1px 2px 0 #aeaeae;
	box-shadow: 1px 1px 2px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	
}

.marquee {  padding:0px;
    height: 80px;
    overflow: hidden;
   color:#000;

}

/* @group Blink */

.blink { 
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

.login_left{ width:670px; float:left; height:450px; margin-top:7px;
	
}

.login_footer { width:930px;
margin:0 auto;
margin-top:15px;
	text-align: center !important;
	padding: 10px;
	font-size: 12px !important;
	color: #FFF;
	background-color: #444444;
	-webkit-box-shadow: 0px 1px 3px 0 #aeaeae;
	box-shadow: 0px 1px 3px 0 #aeaeae;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.login_wrapper {
	position: relative;
	padding: 0px;
	margin: 0 auto;
}
.login_container2{

	width: 950px;
	margin: 0px auto;
	padding: 10px;

}



@media ( max-width : 768px) {
	
	.login_bg1{ width:auto; float:none; height: auto; clear: both;
	
}
.cs-container .cs-shadow{
	
}
.login_container2{ clear: both;

	width:auto;


}
.login_left{  width:auto; float:none; height: auto; clear: both;
	
}
.login_footer { width:auto;margin-top:0px;
}

	
}




@media ( max-width : 320px) {
	.login_left{ display:none; visibility: hidden;
	
}

.login_footer {
		font-size: 11px !important;
	}
	
	.login_container2{ padding: 5px; margin: 0px;

}

}