		.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
			  padding: 2px;
			  background-color: #FFFFFF !important;
			   border: 1.5px solid  #000000 !important;
			}
		/* 	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
			  border: 1px solid #020873;
			  background: #FFFFFF !important;
			  font-weight: bold;
			  color: #1487F7;
			}
			.ui-state-default{
			  border: 1px solid  #020873;
			  background: white !important;
			    background: #FFFFFF !important;
			} */
			.mydatatableclass table  tr th {
			 border: 1.5px solid  #000000 !important;
			  height: 35px;
			  text-align: left !important;
			  padding: 5px !important;
			  font-family: "Arial" !important;
			  font-size: 13px !important;
			  font-weight: bold !important;
			  color: #FFFFFF !important;
			  text-shadow: none !important;
			  box-shadow: none !important;
			   text-align: center !important;
			  background: #00A53E !important;
			    background: #c4c4c4 url("/AlmullaExchangeService/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
			}

.mydatatableclass table  tr td {
			   border: 1.5px solid  #000000 !important;
			     background: #FFFFFF !important;
			     text-align: center !important;
			     
		}
		
		.mydatatableclass1 table  tr th {
			 border: 1.5px solid  #000000 !important;
			  height: 45px;
			  text-align: left !important;
			  padding: 5px !important;
			  font-family: "Arial" !important;
			  font-size: 18px !important;
			  font-weight: bold !important;
			  color: #FFFFFF !important;
			  text-shadow: none !important;
			  box-shadow: none !important;
			   text-align: center !important;
			  background: #00A53E !important;
			  width:100%;
			    background: #c4c4c4 url("/AlmullaExchangeService/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
			}

.mydatatableclass1 table  tr td {
			   border: 1.5px solid  #000000 !important;
			     background: #FFFFFF !important;
			     text-align: center !important;
			     
		}

.mydatatableclass2 table  tr th {
			 border: 1.5px solid  #000000 !important;
			  height: 45px;
			  text-align: left !important;
			  padding: 5px !important;
			  font-family: "Arial" !important;
			  font-size: 18px !important;
			  font-weight: bold !important;
			  color: #FFFFFF !important;
			  text-shadow: none !important;
			  box-shadow: none !important;
			   text-align: center !important;
			  background: #00A53E !important;
			  width:100%;
			    background: #c4c4c4 url("/AlmullaExchangeService/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
}		

.mydatatableclass2 table  tr td {
			   border: 1.5px solid  #000000 !important;
			     background: #9fe247 !important;
			     text-align: center !important;
			     
		}

		.ui-datatable-tablewrapper table tr td
		{
		height:25px;
		padding:0px !important;
		margin:0px !important;
		}
		
		.warning .ui-widget-header {
 		border: 1px solid #a8a8a8;
  		background: #FA081B !important;
  		color: #FFF !important;
  		font-style: bold;
		}
		
		.success .ui-widget-header{
		  border: 1px solid #a8a8a8;
		  background: #00A53E !important;
	 	 color: #FFF !important;
	 	 text-align: center !important;
		}
		
		.info .ui-widget-header {
		  border: 1px solid #a8a8a8;
		  background: #040006 !important;
	 	 color: #FFF !important;
	 	 text-align: center !important;
		}
		
		
		.ui-widget-content .ui-outputlabel {
		  font-size: 16px !important;
		    color: rgb(0, 0, 0) !important;
		}
		
	.size{
	font-size: 13px !important;
	}
	
		/* To off shadow of the button panel  */	
		
		/* .ui-panel .shadow_button {
 		 box-shadow: 0px 0px 5px 0 #FFFFFF !important;
 		 background-color: #FFF !important;

		} */
			
	a#top {
	display: none;
	width: 7px;
	height: 17px;
	padding: 5px;
	position: fixed;
	bottom: 50px;
	right: 60px;
	z-index: 9;
	color: #fff;
	background: #ff6a00;
	font-size: 14px;
	font-weight: 300;
}

.container .clear,body .clear {
	width: 100%;
	float: left;
	clear: both;
	margin: 20px 0;
}

	.buttonStyle{
							padding: 4px 10px 4px 7px !important;
							margin-left: 214px  !important;
							background-color: white !important;
							border-top: 2px solid white !important;
							border-right: 2px solid white !important;
							border-bottom: 2px solid white !important;
							border-left: 2px solid white !important;
							font-size: 18px !important;
							font-weight:bold !important;
							floar:right;
	
	}
	


#goTop {
	padding: 6px 25px 52px 15px !important;
	position: fixed;
	right: 10px;
	margin: left !important;
	margin-top: 350px !important;
	margin-right: 40px !important;
	background-image: url('../images/topscroll.png');
}

.mytable
{
width: 100% !important;

}
.mytable  tr td {
	   border: 1.5px solid  #000000 !important;
	     background: #FFFFFF !important;
	     text-align: center;
	     padding: 0px;
	     
}
.mytable  tr th {
	 border: 1px solid  #000000 !important;
	  height: 35px;
	  text-align: left !important;
	
	  font-family: "Arial" !important;
	  font-size: 13px !important;
	  font-weight: bold !important;
	  color: #FFFFFF !important;
	  text-shadow: none !important;
	  box-shadow: none !important;
	  height: 25px;
	   text-align: center !important;
	  background: #00A53E !important;
	    background: #c4c4c4 url("/AlmullaExchangeService/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
	}
